label PLZ: *
  input(type="text", name="plz", placeholder="PLZ...", required)
label Ort: *
  input(type="text", name="ort", placeholder="Ort", required)
label Straße: *
  input(type="text", name="street", placeholder="Straße...", required)
label Hausnummer: *
  input(type="text", name="housenumber", placeholder="Hausnummer...", required)