fieldset
  label(for="plz") PLZ: *
  input(type="text", name="plz", placeholder="PLZ...", required)
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Weiter 
fieldset
  label(for="ort") Ort: *
  input(type="text", name="ort", placeholder="Ort", required)
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Weiter 
fieldset 
  label(for="street") Straße: *
  input(type="text", name="street", placeholder="Straße...", required)
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Weiter 
fieldset 
  label(for="housenumber") Hausnummer: *
  input(type="text", name="housenumber", placeholder="Hausnummer...", required)
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Absenden 