fieldset   
  label(for="lastname") Nachname: *
  input(type="text", name="lastname", placeholder="Nachname...", required)
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Weiter 
    