fieldset 
  label(for="number") Handynummer: *
  input(type="text", name="number", placeholder="Handynummer...", required)
  div(class="navigation")
    button(class="back" type="button") Zurück 
    button(class="next" type="button") Weiter 