fieldset(class="enabled") 
  label(for="sex") Geschlecht: *
  select(id="sex", name="sex", required)
    -sexs = ["Auswählen...", "Männlich", "Weiblich", "Divers"]
    - each sex, i in sexs
      - if (sex == "Auswählen...")
        option(value="" disabled selected) Auswählen...
      - else
        option(value="#{sex}") #{sex}
  div(class="navigation")
    button(class="back") Zurück 
    button(class="next") Weiter 