label Geschlecht: *
  select(id="sex", name="sex", required)
    -sexs = ["Ausw채hlen...", "M채nnlich", "Weiblich", "Divers"]
    - each sex, i in sexs
      - if (sex == "Ausw채hlen...")
        option(value="" disabled selected) Ausw채hlen...
      - else
        option(value="#{sex}") #{sex}