extends layout

block content
  div(class="welcome")
    h1(class="welcome") Datenschutzinformation und Einwilligungserklärung
    h2 zur Erhebung personenbezogener Daten in Interviews
    p Sehr geehrte Teilnehmerin, sehr geehrter Teilnehmer!
    p Im Rahmen meines Bachelorstudiums MultiMediaTechnology an der Fachhochschule Salzburg GmbH verfasse ich gerade meine Bachelorarbeit.
    p Im Rahmen dieser wissenschaftlichen Arbeit werden personenbezogene Daten erhoben und verarbeitet, deshalb finden Sie im Folgenden alle Informationen, zu deren Mitteilung ich als Verantwortliche/r gemäß der Datenschutz-Grundverordnung (DSGVO) verpflichtet bin.
    p Ihre Teilnahme am Interview erfolgt freiwillig und unentgeltlich. Sie können jederzeit ohne Angaben von Gründen ausscheiden. Ist die Datenverarbeitung nicht gewünscht, kann jedoch keine Teilnahme am Interview erfolgen.
    p 
      strong Verantwortliche/r für die Datenverarbeitung
    p Interviewer/in, Verfasser/in der Bachelor- oder Masterarbeit und Verantwortliche/r für die Datenverarbeitung iSd Art 4 Z 7 DSGVO ist:
    p Name der Studierenden
    p Michaela Schößwendter
    p Kontaktdaten
    p E-Mail: mschoesswendter.mmt-b2018@fh-salzburg.ac.at
    p Tel.: +43 676 4605082
    p
      strong Thema der Bachelor- oder Masterarbeit
    p Titel der wissenschaftlichen Arbeit: 
    p Verbesserung der User Satisfaction von Webseiten durch Anima-tionen als Feedbackmechanismus f ̈ur die Generation 65+
    p Beschreibung (Kurzabstract):
    p
      strong Darstellung und Zweck der Datenverarbeitung
    p Im Rahmen dieser wissenschaftlichen Arbeit werden personenbezogene Daten erhoben und verarbeitet, um [Zweck anführen, für den personenbezogene Daten verarbeitet werden, zB Auswertung von Interviews zur Analyse von xxx; zur Optimierung von xxx;]
    p Die Daten werden [Beschreibung des Umgangs mit den Daten, zB Aufnahme des Interviews mittels Diktiergeräts, Transkribieren von Tondaten, Pseudonymisierung/Anonymisierung, Veröffentlichung von Namen + Funktion in der Arbeit bei ExpertInneninterviews]
    p 
      strong Welche Daten werden erhoben bzw. verarbeitet?
    p Alle im Rahmen des Interviews mit Ihnen erhobenen Daten werden für die wissenschaftliche Arbeit weiterverarbeitet. Die Erhebung der Daten erfolgt ausschließlich bei Ihnen.
    p
      strong Rechtsgrundlage
    p Die Rechtsgrundlage zur Verarbeitung dieser personenbezogenen Daten stellt Ihre Einwilligung nach Art. 6 Abs 1 lit a bzw. Art. 9 Abs 2 lit a DSGVO bei besonderen Kategorien personenbezogener Daten dar. Sie haben das Recht Ihre Einwilligung jederzeit zu widerrufen, was jedoch nicht die Rechtmäßigkeit der bis dahin erfolgten Verarbeitung berührt.
    p
      strong Übermittlungsempfänger und/oder Übermittlung an ein Drittland/an eine internationale Organisation
    p Die personenbezogenen Daten werden nicht an Dritte weitergegeben.
    p 
      strong Veröffentlichung und etwaige Publikationen
    p Gemäß § 19 Abs 3 FHG sind positiv beurteilte Master- und Diplomarbeiten durch Übergabe an die Bibliothek der Fachhochschule zu veröffentlichen. Auch Bachelorarbeiten können veröffentlicht werden oder deren Inhalt für wissenschaftliche Publikationen genutzt werden.
    p Die Abschlussarbeit enthält lediglich anonymisierte Daten, wodurch bei einer Veröffentlichung oder Publikation jedenfalls keine Rückschlüsse auf einzelne Personen möglich sind.
    p 
      strong Speicherdauer
    p Sofern Ihre personenbezogenen Daten nicht nach der Erhebung anonymisiert werden, werden sie so lange gespeichert, wie sie zur Erfüllung des vorgesehenen Zwecks notwendig sind oder gesetzlich vorgesehen Aufbewahrungsfristen bestehen. Zum Nachweis der Einhaltung guter wissenschaftlicher Praxis können Forschungsdaten 10 Jahre aufbewahrt werden.
    p
      strong Betroffenenrechte
    p Ihnen stehen in Bezug auf ihre personenbezogenen Daten folgende Rechte zu:
    p Sie können Ihre Einwilligung jederzeit bei der oben angeführten Kontaktperson widerrufen. 
    p Recht auf Auskunft, Berechtigung oder Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit, welche Sie durch Kontaktaufnahme mit der oben angeführten Kontaktperson geltend machen können.
    p Wenn Sie der Ansicht sind, dass Ihre personenbezogenen Daten nicht im Einklang mit dem bestehenden Datenschutzrecht verarbeitet werden, steht Ihnen weiters das Recht auf Beschwerde bei der österreichischen Datenschutzbehörde zu (Barichgasse 40-42, 1030 Wien, Telefon: +43 1 52 152-0, E-Mail: dsb@dsb.gv.at).
    p
      strong Einwilligungserklärung 
    p Hiermit willige ich ein, dass die im Rahmen der Bachelor- oder Masterarbeit erhobenen personenbezogenen Daten durch die verantwortliche Person für die genannten wissenschaftlichen Zwecke in der beschriebenen Art und Weise verarbeitet werden dürfen. Sofern ich besondere Kategorien von personenbezogenen Daten angegeben habe, sind diese von der Einwilligungserklärung ausdrücklich umfasst. 
    p Hinweis: Ihre Einwilligung ist freiwillig. Sie können die Einwilligung ablehnen, ohne dass Ihnen dadurch Nachteile entstehen. Sie haben das Recht Ihre Einwilligung jederzeit zu widerrufen, was jedoch nicht die Rechtmäßigkeit der bis dahin erfolgten Verarbeitung berührt.
    br
    br
    a(href="/lobby") Zurück zur Lobby

