extends layout

block content
  h1 Vormerkung zur COVID-19 Schutzimpfung
  h2 Persönliche Daten
  form(method="POST", action="/user", class="form")
    input(type="hidden", name="_method", value="PUT")
    label Geschlecht: *
      select(id="countries", name="countries")
        -sexs = ["Auswählen...", "Männlich", "Weiblich", "Divers"]
        - each sex, i in sexs
          - if (sex == "Auswählen...")
            option(value="" disabled selected) Auswählen...
          - else
            option(value="#{sex}") #{sex}
    label Nachname: *
      input(type="text", name="lastname", placeholder="Nachname...")
    label Vorname: *
      input(type="text", name="firstname", placeholder="Vorname...")
    label Sozialversicherungsnummer: *
      input(type="text", name="sozialnummer" placeholder="Ihre 10-stellige österreichische Sozialversicherungsnummer...")
    label Geburtsdatum: *
      input(type="date", name="age")
    label E-Mail Adresse: *
      input(type="email", name="email", placeholder="E-Mail Adresse...")
    label Handynummer: *
      input(type="text", name="number", placeholder="Handynummer...")
    label Land: *
      select(id="countries", name="countries")
        - each country, i in countries
          option(value="#{country}") #{country}
    label PLZ: *
      input(type="text", name="plz", placeholder="PLZ...")
    label Ort: *
      input(type="text", name="ort", placeholder="Ort")
    label Straße: *
      input(type="text", name="street", placeholder="Straße...")
    label Hausnummer: *
      input(type="text", name="housenumber", placeholder="Hausnummer...")
    input(type="submit")
