extends layout

block content
  h1 Vormerkung zur COVID-19 Schutzimpfung
  h2 Persönliche Daten
  form(method="GET", action="/form/", class="form-animated")
    include _sex
    div(class="navigation")
      p(id="back") Zurück
      p(id="next") Weiter
    input(type="submit")
