extends layout

block content
  h1 Vormerkung zur COVID-19 Schutzimpfung
  h2 Persönliche Daten
  ul(class="items")
    li(class="active") 1
    li 2 
    li 3
    li 4
    li 5
    li 6
    li 7
    li 8
    li 9
    li 10
    li 11
    li 12
  form(method="GET", action="/form", class="form")
    include _sex
    include _lastname
    include _firstname
    include _socialnumber
    include _birthday
    include _email
    include _phone
    fieldset 
      label(for="countries") Land: *
      select(id="countries", name="countries", required)
        - each country, i in countries
          option(value="#{country}") #{country}
      div(class="navigation")
        button(class="back" type="button") Zurück 
        button(class="next" type="button") Weiter     
    include _home
    input(type="submit")
