extends layout

block content
  div(class="welcome")
    h1(class="welcome") Willkommen! 
    h2(class="welcome") Vielen Dank für die Teilnahme an diesem Nutzertest!
    a(href="/form") 1. Anmeldeformular Version 1
    br
    a(href="/form-animated") 2. Anmeldeformular Version 2
    br
    a(href="/graph-notanimated") 3. Fallzahlen Version 1
    br
    a(href="/graph") 4. Fallzahlen Version 2