extends layout

block content
  div(class="welcome")
    h1(class="welcome") Willkommen! 
    h2(class="welcome") Vielen Dank für die Teilnahme an diesem User Testings!
    a(href="/form") Anmeldeformular
    br
    a(href="/form-animated") Anmeldeformular Version 2
    br
    a(href="/graph") Fallzahlen