doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="app.js")
    script(src="/javascripts/prefill.js")
    script(src="/javascripts/corona_data.js")
    script(type="module", src="/javascripts/corona_charts.js")
  body
    block content
